* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-item {
    padding: 8px;
    background-color: #bfbfff;
    color: #1a1a2c;
    text-align: left;
}

.user-item h2 {
    font-weight: 400;
    font-size: 18px;
}

.user-item p {
    font-size: 14px;
    color: rgba(59, 54, 54, 0.7);
}